In [8]:
#median based anomaly detection
import pandas as pd
import numpy as np

x= pd.Series([2.1,2.3,4.5,2.2,2.4])

median = np.median(x)
threshold = 2
outliers = []
for item in x:
    if abs(item - median) > threshold:
        outliers.append(item)
print(outliers)

[4.5]

In [1]:
#mean-based snomaly detection
import pandas as pd
import numpy as np

x=pd.Series([2.1,4.5,2.2,2.5])
mean = np.mean(x)
std=np.std(x)
outliers = []
for item in x:
    if (item < mean -std) or (item > mean + std):
        outliers.append(item)
outliers

[4.5]

In [4]:
# z-score-based anomaly detection
import numpy as np
import pandas as pd

x = pd.Series([2.1,2.3,4.5,2.2,2.4])

mean =  np.mean(x)
std = np.std(x)
outliners = []
for item in x:
    z_score = (item - mean) / std
    if z_score > 1.5:
        outliers.append(item)
print(outliers)

[4.5, 4.5, 4.5]

In [7]:
#interquartile range for anomaly detection
import numpy as np
import pandas as pd

x=pd.Series([2.1,2.3,4.5,2.2,2.5])

Q1, Q3 = np.percentile(x,[25,75])
IQR = Q3-Q1
outliers = []
for item in x:
    if item < (Q1 - 1.5 * IQR) or item > (Q3 + 1.5* IQR):
        outliers.append(item)

outliers

[4.5]

In [1]:
3+3

6

In [4]:
#dealing with missing value
import numpy as np
from numpy import NaN

data1 = {'Name' :['Edition', 'harry','simon','toby','jj'],'Age':[23,34,NaN,34,22]}

In [18]:
import pandas as pd

data = pd.DataFrame.from_dict(data1)
data

      Name   Age
0  Edition  23.0
1    harry  34.0
2    simon   NaN
3     toby  34.0
4       jj  22.0

In [15]:
data.fillna(data.mean(), inplace = True)
data

C:\Users\Shubham\AppData\Local\Temp\ipykernel_14772\3433608546.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.fillna(data.mean(), inplace = True)

      Name    Age
0  Edition  23.00
1    harry  34.00
2    simon  28.25
3     toby  34.00
4       jj  22.00

In [16]:
data['Age'].mode()

0    34.0
Name: Age, dtype: float64

In [ ]:
data['Age'].fillna(data['Age'].mode([0], inplace = True))
data

In [21]:
#regular expression
import re
txt = 'Central cee is best rapper'
x = re.findall('cee',txt)
x

['cee']

In [22]:
len(x)

1

In [24]:
txt = 'Central cee is best rapper in 2022'
re.findall('\d',txt)

['2', '0', '2', '2']

In [26]:
txt = 'Central cee is best rapper in 2022'
re.findall('\d+',txt)

['2022']

In [27]:
txt = 'Central cee is best rapper'
re.sub(pattern='Central cee',repl='lil baby',string=txt)

'lil baby is best rapper'